{% extends 'base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">All Available Rooms</h1>
        <!-- <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one
            in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it
            to your liking.</p> -->
        <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for room in rooms %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{room.name}}</h5>
                <p class="card-text"><a href="#" class="btn btn-primary btn-sm w-100">Book Room</a></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">NGN {{room.category.price}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}