{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.first_name class="form-control" %}
                <label for="floatingInput">First Name</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.surname class="form-control" %}
                <label for="floatingInput">Surname</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.email class="form-control" %}
                <label for="floatingInput">Email</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.phone_number class="form-control" %}
                <label for="floatingInput">Phone Number</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.start_date class="form-control" type="date" %}
                <label for="floatingInput">Start Date</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% render_field form.end_date class="form-control" type="date" %}
                <label for="floatingInput">End Date</label>
            </div>
        </div>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>

{% endblock content %}